body {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  font-size:1.5em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#container {
  background: white;
  margin: 5% auto 0 auto;
  width: 60%;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .1);
}
#main-content {
  padding: 20px 20px 0 20px;
  height: 250px;
}

#quote-name {
  float: right;
}

#tweet-quote {
  float:left;
  padding:0px;
  padding-top:8px;
  text-align:center;
  font-size:1.2em;
  margin-left:15px;
  height:30px;
  width:40px;
}

#text {
  font-size:0.5em;
}

button {
  float: right;
}

@media screen and (max-width: 800px) {
  #container {
    background: white;
    margin: 5% auto 0 auto;
    width: 90%;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  }
  #main-content {
    padding: 20px 20px 0 20px;
    height: 500px;
  }
  
}@media screen and (max-width: 480px) {
  #container {
    background: white;
    margin: 30% auto 0 auto;
    width: 90%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
  }
  #main-content {
    padding: 20px 20px 0 20px;
    height: 225px;
  }
  
}

.s0 {
  background: #457fca;
  color: #457fca;
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);
  background: linear-gradient(to right, #5691c8, #457fca); 
}

.s1 {
  background: #B24592;  /* fallback for old browsers */
  color: #B24592;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F15F79, #B24592);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F15F79, #B24592); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.s2 {
  background: #C02425;  /* fallback for old browsers */
  color: #C02425;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.s3 {
  background: #403A3E;  /* fallback for old browsers */
  color: #403A3E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BE5869, #403A3E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BE5869, #403A3E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.s4 {
  background: #c2e59c;  /* fallback for old browsers */
  color: #c2e59c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.s5 {
  background: #FFB75E;  /* fallback for old browsers */
  color: #FFB75E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.s6 {
  background: #8E0E00;  /* fallback for old browsers */
  color: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.s7 {
  background: #00C9FF;  /* fallback for old browsers */
  color: #00C9FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.s8 {
  background: #f46b45;  /* fallback for old browsers */
  color: #f46b45;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}